<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <acessos>
            <general>
                <identity_url>https://cvale-fidelidade-identity-hom.azurewebsites.net</identity_url>

                <identity_login>20024304034</identity_login>
                <identity_password>Teste12#</identity_password>

                <kernel_url>https://cvale-fidelidade-kernel-hom.azurewebsites.net</kernel_url>
                <programCurrencySymbol>SD$</programCurrencySymbol>
                <programCurrencyName>Seed</programCurrencyName>
            </general>
        </acessos>
    </default>
</config>
