<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <acessos>
            <general>
                <identity_url>https://cvale-fidelidade-identity-hom.azurewebsites.net</identity_url>

                <identity_login>20024304034</identity_login>
                <identity_password>Teste12#</identity_password>

                <kernel_url>https://cvale-fidelidade-kernel-hom.azurewebsites.net</kernel_url>
                <programCurrencySymbol>SD$</programCurrencySymbol>
                <programCurrencyName>Seed</programCurrencyName>

                <sap_url>http://10.95.201.216:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_EVO&amp;receiverParty=&amp;receiverService=BS_300_CQE&amp;interface=SI_Recebimento_Cliente_Evo_Out_Sync&amp;interfaceNamespace=urn:cvale:i17:014</sap_url>

                <images_url>https://e400237-iflmap.hcisbt.br1.hana.ondemand.com/cxf/Replicacao_Imagens_Produtos</images_url>
                <images_login>S0022823521</images_login>
                <images_pwd>cpMK_3901cv</images_pwd>

                <cvale_url>https://www.cvalefidelidade.com.br</cvale_url>
            </general>
        </acessos>
    </default>
</config>
