<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="Germini" translate="label" sortOrder="10">
            <label>Vexpro</label>
        </tab>
        <section id="acessos" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Germini</label>
            <tab>Germini</tab>
            <resource>Vexpro_GerminiConfig::acessos_config</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Configurações de Acesso</label>
                <field id="identity_url" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Identity Url</label>
                    <comment>URL de autenticação da API.</comment>
                </field>
                <field id="kernel_url" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Kernel Url</label>
                    <comment>URL do kernel da API.</comment>
                </field>
                <field id="programCurrencySymbol" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>programCurrencySymbol</label>
                    <comment>Simbolo da moeda do Germini.</comment>

                    <frontend_model>Vexpro\GerminiConfig\Block\System\Config\Form\Field\Symbol</frontend_model>
                    
                </field>
                <field id="programCurrencyName" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>programCurrencyName</label>
                    <comment>Nome da moeda do Germini.</comment>

                    <frontend_model>Vexpro\GerminiConfig\Block\System\Config\Form\Field\Name</frontend_model>

                </field>
            </group>
        </section>
    </system>
</config>